<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Food Page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/addfood.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('nav') %>

    <!-- Add menu topic -->
    <section class="section">
      <div class="container">
        <h1 class="title">Add Menu</h1>
        <div class="columns">
          <div class="column is-half">
            <label class="label">Search for food:</label>
            <div class="control">
              <input class="input" type="text" placeholder="e.g. Pizza">
            </div>
          </div>
        </div>

        <div class="columns">

          <div class="column is-three-fifths">
            <div class="card">
              <table class="table is-fullwidth">
                <thead>
                  <th>รูป</th>
                  <th>ชื่อ</th>
                  <th>แคลลอรี่</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="<%= food.food_img %>" width="150" height="150">
                    </td>
                    <th>
                      <h4>
                        <%= food.food_name %>
                      </h4>
                    </th>
                    <th>
                      <h3>
                        <%= food.food_cal %>
                      </h3>
                    </th>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class=" column is-4 bigbox">
            <div class="card has-text-centered">
              <div class="columns">
                <div class="column is-2 ml-6">
                  <input class="input" type="number" id="aval" value="1">
                </div>
                <div class="column is-4">
                  <h1 class="is-size-5 mt-1">X <%= food.food_cal %> cal</h1>
                  <h1 class="is-size-5">= <%= food.food_cal %> cal</h1>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <label class="font-th is-size-5 ">มื้ออาหาร</label>
                  <div class="select">
                    <select class="font-th" id="se_food">
                      <option value="breakfast">มื้อเช้า</option>
                      <option value="lunch">มื้อกลางวัน</option>
                      <option value="dinner">มื้อเย็น</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="control p-2">
                <a><button class="font-th button is-fullwidth" onclick="addFood('<%= food.food_id %>')">เพิ่มลงตาราง</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Search menu box with picture -->
      <!-- Amount of menu box -->

      </div>
    </section>

    <%- include('footer') %>
</body>

<script>
  async function addFood(fids) {
    alert('ADD FOOD Done!')
    var meal = document.getElementById('se_food').value
    const add = await fetch('/add/food', {
      method: "POST",
      mode: "cors",
      cache: "no-cache",
      credentials: "same-origin",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        fid:fids,
        meal_name: meal
      })
    })
  }
</script>

</html>