<!DOCTYPE html>
<html>
<head>
	<title>Food Page</title>
	<!-- Link to Bulma CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/food.css">
</head>
<body>
	<!-- Navbar -->
	<%- include('nav') %>

	<section class="section">
        <div class="navbar-end">
            <div class="navbar-item">
                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Search Food">
                        </div>
                        <div class="control">
                            <button class="button">ค้นหา</button>
                            <!-- You can also use an icon instead of text for the button -->
                            <!-- <i class="fas fa-search"></i> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
		<div class="container">
			<h1 class="title">Food</h1>
				<div class="columns is-multiline">
					<!-- Food item cards -->
					<% foods.forEach(item =>{ %>
					<div class="column is-one-quarter">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="<%= item.food_img %>" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content has-text-centered">
								<div class="content">
									<p class="food-name"><strong><%= item.food_name %></strong></p>
									<div class="level-item">
										<p class="food-description"><%= item.food_cal %></p>
										<p class="food-description" style="margin-left: 0.25em;">cal</p>
									</div>
									
								</div>
								<a class="button is-fullwidth" type="button" href="/add/food/<%= item.food_id %>">เพิ่มลงในตาราง</a>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
		</div>
    </section>
</body>
