<!DOCTYPE html>
<html>
  <head>
    <title>Table Page</title>
    <!-- Link Bulma CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/exercisetable.css">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('nav') %>


    <div class="container mt-4">
    <div class="container">
      <h1 class="title">Table of Food</h1>
      <div class="level-right buttons">
        <a class="button" href="#">History</a>
      </div>
    </div>
      <table class="table is-striped is-hoverable is-fullwidth is-size-4">
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Type</th>
            <th>Muscle</th>
            <th>Recommand</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% ex.forEach(item =>{ %>
            <tr>
              <td><%= item.ex_name %></td>
              <td><%= item.ex_type %></td>
              <td><%= item.ex_muscle %></td>

              <% if (item.ex_type === "weight_training") {%>
                <td><%= item.ex_amountRecommend/10 %> set</td>
              <%}%>
              <% if (item.ex_type === 'cardio') {%>
                  <td><%= item.ex_amountRecommend %> นาที</td>
              <%}%>

              

              <% if (item.ex_type === "weight_training") {%>
              <td><%= item.amount %> set</td>
              <%}%>
              <% if (item.ex_type === 'cardio') {%>
                <td><%= item.amount %> นาที</td>
              <%}%>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
      <div class="mt-5">
        <textarea class="textarea" placeholder="Add any additional notes here"></textarea>
      </div>
    </div>

    <%- include('footer') %>

    <!-- Link Bulma JavaScript file -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"></script>
  </body>
</html>
